@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100vh;
  font-family: "Andada Pro", serif;
}

body {
  height: 100%;
  transition: all 500ms ease;
}

/* Duck css */
.container {
  position: relative;
  margin: auto;
  display: block;
  width: 400px;
  height: 400px;
}

.group {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100%;
  height: 100%;
}

.head {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #ddf7ff;
}

.eye-white {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  border: solid 1px #000;
  background-color: #fff;
}

.pupil {
  position: absolute;
  top: 11%;
  left: 13%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #000;
}

.eye-light {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #fff;
}

.beak {
  position: absolute;
  top: 18%;
  left: 55%;
  width: 30%;
  height: 15%;
  background-color: #ffb162;
  border-top-left-radius: 115px;
  border-top-right-radius: 115px;
}

.middle-upper-body {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 20%;
  height: 40%;
  background-color: #95c0f2;
  border-top-left-radius: 200px;
}

.belly {
  position: absolute;
  top: 30%;
  left: 55%;
  width: 20%;
  height: 40%;
  background-color: #95c0f2;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}

.middle-lower-body {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 20%;
  height: 40%;
  background-color: #95c0f2;
}

.left-tail-front {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 40%;
  height: 20%;
  background-color: #95c0f2;
  border-bottom-left-radius: 200px;
}

.left-tail-behind {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 40%;
  height: 20%;
  background-color: #95f2dd;
  border-bottom-left-radius: 200px;
  transform: rotate(15deg);
}

.wing {
  position: absolute;
  top: 47%;
  left: 20%;
  width: 40%;
  height: 20%;
  background-color: #ffbfbf;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  transform: rotate(-15deg);
}

.wave {
  position: absolute;
  top: 59%;
  left: -7%;
  height: 55px;
  width: 100%;
}

#messageBox {
  @apply hidden absolute bg-yellow-50 h-48 w-96 top-[-130px] left-[-50px] rounded-t-lg rounded-bl-lg;
}
#history > * {
  @apply pl-4;
}

#wave-svg {
  fill: #b5eeff;
}

#pwn {
  animation: blink 1.5s linear infinite;
}

.coursor::before {
  content: " ";
}
.coursor {
  height: max-content;
  width: 15px;
  background: #22a2c9;
  animation: blink 1s linear infinite;
}

.input {
  @apply border-none outline-none bg-transparent focus:border-none text-[#1d4bd8];
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
